/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

/* Estilos para as seções */
section {
    padding: 40px;
}

/* Estilos para o rodapé */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Estilos específicos para a seção "Sobre Nós" */
#sobre {
    background-color: #f2f2f2;
}

/* Estilos específicos para a seção "Nossos Serviços" */
#servicos ul {
    list-style: disc;
    margin-left: 20px;
}

/* Estilos específicos para a seção "Entre em Contato" */
#contato address {
    font-style: normal;
}
